@font-face {
    font-family: 'Rubick';
    src: url(../font/Rubik.ttf);
}

@font-face {
    font-family: 'Qwitcher';
    src: url(../font/Qwitcher.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto.ttf);
}

* {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubick';
    cursor: url('https://snipp.ru/demo/712/pointer-1.cur') 4 1, auto;
    background: #000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

a {
    cursor: url('https://snipp.ru/demo/712/pointer-3.cur') 4 1, pointer;
}

h2 {
    margin: 0 0 5px 0;
    font-size: 50px;
    text-transform: uppercase;
}

h2::first-letter {
    color: #FFA501;
}

body::-webkit-scrollbar {
    width: 10px;    
}

body::-webkit-scrollbar-thumb {
    background-color: #FFA501; 
    border-radius: 0 0 20px 20px;
}

.hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: url(https://snipp.ru/demo/712/pointer-3.cur) 4 1, pointer;
}

.hamburger span {
    display: block;
    height: 5px;
    margin: 0px 0 5px 0;
    background: linear-gradient(90deg, #FFA501, #000);
}

.hamburger span:nth-child(1) {
    width: 50px;
}

.hamburger span:nth-child(2) {
    width: 60px;
}

.hamburger span:nth-child(3) {
    width: 70px;
}

.menu {
    height: 100vh;
    width: 100%;
    left: -100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: all .5s;
}

.menu.active {
    left: 0;
    visibility: visible;
    z-index: 2;
    opacity: 1;
}

.menu-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 85%;
    cursor: url(https://snipp.ru/demo/712/pointer-3.cur) 4 1, pointer;
}

.menu-close span {
    width: 30px;
    height: 3px;
    display: block;
    background: #000;
}

.menu-close span:nth-child(1) {
    margin: 12px 0;
    transform: rotate(-45deg);
}

.menu-close span:nth-child(2) {
    margin: -15px 0 0 0;
    transform: rotate(45deg);
}

.menu-block {
    width: 350px;
    height: 100%;
    padding: 100px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
    background: #FFA501;
    z-index: 10;
}

.menu-block nav {
    height: 100%;
}

.menu-list {
    height: 90%;
    padding: 0 0 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
}

.menu-list a {
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    transition: all .5s;
}

.menu-link {
    margin: 0 0 15px 0;
    transition: all .5s;
}

.menu-link:hover a {
    font-size: 20px;
    margin: 0 0 15px 10px;
    color: rgb(92, 83, 83);
}

.menu-social {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.menu-social-link {
    width: 30px;
    height: 30px;
}

.menu-overlay {
    width: 101%;
    height: 100vh;
    background: #fff;
    opacity: .7;
}

.header {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    font-size: 60px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto';
    text-transform: uppercase;

    background:linear-gradient(70deg, #00000000, #FFA501), 
    url(../img/2.JPG) center center/cover no-repeat;
    background-position: top;
}

.name {
    margin: 90px 60px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn {
    width: 250px;
    height: 50px;
    margin: 10px 0;
    display: block;
    border: 2px solid;
    border-radius: 0 25px;
    font-family: 'Rubick';
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.cv {
    width: 150px;
    height: 50px;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.social {
    width: 50px;
    height: 80%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {    
    width: 40px;
    height: 40px;
    transition: ease .5s;
}

.icon:hover {
    -webkit-filter: drop-shadow(0px 0px 8px #fff);
}


 /* ABOUT */

.about {
    width: 100%;
    height: 500px;
    padding: 50px;
    display: flex;
    color: #fff;
}

.about-photo {
    display: block;
    border-radius: 200px 275px 150px 300px;
}

.about-info {
    padding: 0 0 0 20px;
}

.about-info p {
    font-size: 25px;
}

.about-job {
    width: 100%;
    height: 200px;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.about-job h2{
    font-size: 25px;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: #FFA501;
}

.circle img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    line-height: 100px;
}

.about-job p {
    font-size: 20px;
}

.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.experience h2 {
    width: 90%;
}

.experience div {
    color: #000;
}

.experience aside {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.experience-wrap {
    width: 90%;
    height: 100%;
    margin: 10px 0 0 0;
    display: flex;
}

.experience-production {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.experience-production span {
    display: flex;
    flex-wrap: wrap;
}

.experience-products {
    display: flex;
    flex-direction: column;
}

.experience-products span {
    display: flex;
    flex-wrap: nowrap;
}

.experience-wrap h2 {
    font-size: 20px;
}

.experience-project {
    width: 100%;
    margin: 0 0 0 30px;
}

.grid-item {
    background: #fff;
}
.container {  
    width: 100%;
    height: 510px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "item-1 item-1 item-3 item-3 item-3 item-3"
        "item-1 item-1 item-2 item-6 item-6 item-6"
        "item-4 item-4 item-2 item-6 item-6 item-6"
        "item-4 item-4 item-2 item-5 item-9 item-9"
        "item-4 item-4 item-8 item-8 item-9 item-9"
        "item-7 item-7 item-8 item-8 item-9 item-9";
  }
  
  .item-1 { grid-area: item-1; }
  
  .item-2 { grid-area: item-2; }
  
  .item-3 { grid-area: item-3; }
  
  .item-4 { grid-area: item-4; }
  
  .item-5 { grid-area: item-5; }
  
  .item-6 { grid-area: item-6; }
  
  .item-9 { grid-area: item-9; }
  
  .item-7 { grid-area: item-7; }
  
  .item-8 { grid-area: item-8; }

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    transition: .8s;
}

.grid-item:hover {
    background: #FFA501;
}

.grid-item img {
    width: 50px;
    height: 50px;
    transition: .3s;
}

.grid-item:hover img {
    width: 55px;
    height: 55px;
    transition: .2s;
}

.experience-item {
    width: 210px;
    height: 150px;
    margin: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    background: #fff;
    transition: .8s;
}

.experience-item:hover {
    background: #FFA501;
}

.experience-item:hover img {
    width: 60px;
    height: 60px;
}

.experience-item img {
    width: 50px;
    height: 50px;
    transition: .3s;
}

.product {
    width: 100%;
}

.skills {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    color: #fff;
}

.skills-wrap h2{
    font-size: 25px;
}

.skills-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.skills-percent {
    width: 100%;
    height: 200px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-item {
    min-width: 45%;
    margin: 0 0 5px 0;
}

.skills-item h2 {
    font-size: 20px;
}

.skills-item p {
    font-size: 25px;
    color: #FFA501;
}

.skills-item span {
    display: flex;
    justify-content: space-between;
}

.skills-line {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: rgb(92, 83, 83); 
}

.skills-progress {
    height: 100%;
    border-radius: 10px;
    background: #FFA501;
}

.skills-item:nth-child(1) .skills-progress {
    width: 80%;
}

.skills-item:nth-child(2) .skills-progress {
    width: 80%;
}

.skills-item:nth-child(3) .skills-progress {
    width: 50%;
}

.skills-item:nth-child(4) .skills-progress {
    width: 40%;
}

.skills-item:nth-child(5) .skills-progress {
    width: 30%;
}

.skills-item:nth-child(6) .skills-progress {
    width: 30%;
}


.price {
    width: 90%;
    height: 350px;
    margin: 10px auto 0 auto;
    color:#fff;
}

.price-input h2 {
    font-size: 25px;
}

.price span {
    width: 30%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.price-wrap {
    width: 50%;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.price-input {
    width: 50%;
    margin: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-wrap div:first-child {
    border-radius: 25px 0 0 25px;
}

.price-wrap div:last-child {
    border-radius: 0 25px 25px 0;
}

.price-btn {
    width: 100%;
    height: 50px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 900;
    background: #fff;
    color: #000;
    cursor: url('https://snipp.ru/demo/712/pointer-3.cur') 4 1, pointer;
}

.btn-active {
    background: #FFA501;
}

.number {
    width: 70px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0 0 0 15px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 900;
    color: #FFA501;
    cursor: url('https://snipp.ru/demo/712/pointer-3.cur') 4 1, pointer;
}

.sum-wrap {
    display: flex;
    margin: 15px 0 0 0;
}

.sum-wrap h2 {
    font-size: 25px;
}

.sum {
    width: 150px;
    text-align: center;
    border: 2px solid #FFA501;
    border-radius: 10px;
    cursor: url('https://snipp.ru/demo/712/pointer-3.cur') 4 1, pointer;
}

.total-price {
    display: flex;
    margin: 0 0 0 20px;
    color: #FFA501;
    font-size: 25px;
    font-weight: 900;
}

.price-title {
    margin: 0 0 0 10px;
    color: #fff;
}

.footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFA501;
}

.footer h2 {
    margin: 0 20px;
    font-size: 25px;
}

.footer h2::first-letter {
    color: #fff;
}

.footer-wrap {
    width: 20%;
    margin: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
}

/* MEDIA */

@media screen and (max-width: 1024px) {
    .about-job h2 {
        font-size: 14px;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .circle img {
        width: 50px;
        height: 50px;
    }

    .container {
        grid-template-areas:
        "item-1 item-1 item-3 item-3 item-3 item-3"
        "item-1 item-1 item-2 item-2 item-6 item-6"
        "item-4 item-4 item-2 item-2 item-6 item-6"
        "item-4 item-4 item-2 item-2 item-5 item-5"
        "item-4 item-4 item-8 item-8 item-9 item-9"
        "item-7 item-7 item-8 item-8 item-9 item-9";
    }

    .skills-wrap span {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price-btn {
        text-align: center;
        font-size: 12px;
    }

    .price-input h2 {
        font-size: 15px;
    }

    .footer-wrap {
        width: 30%;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

    .name {
        margin: 90px 20px 0 0;
    }

    .header {
        font-size: 40px;
    }

    .about-photo {
        width: 300px;
        height: 200px;
    }

    .container {
        grid-template-areas:
        "item-1 item-1 item-1 item-1 item-1 item-1"
        "item-2 item-2 item-2 item-2 item-2 item-2"
        "item-3 item-3 item-3 item-3 item-3 item-3"
        "item-4 item-4 item-4 item-4 item-4 item-4"
        "item-5 item-5 item-5 item-5 item-5 item-5"
        "item-6 item-6 item-6 item-6 item-6 item-6"
        "item-7 item-7 item-7 item-7 item-7 item-7"
        "item-8 item-8 item-8 item-8 item-8 item-8"
        "item-9 item-9 item-9 item-9 item-9 item-9";
    }

    .grid-item {
        width: 100%;
        height: 80px;
    }

    .experience {
        height: 930px;
    }

    .experience-item {
        height: 247px;
    }

    .circle {
        width: 80px;
        height: 80px;
    }

    .circle img {
        width: 40px;
        height: 40px;
    }

    .skills-wrap h2 {
        font-size: 15px;
    }

    .price-wrap {
        width: 70%;
    }

    .price-input {
        width: 70%;
    }

    .skills {
        height: 420px;
    }
}

@media screen and (max-width: 425px) {

    .menu-close {
        left: 150px;
    }

    .menu-social {
        width: 70%;
    }

    .header {
        font-size: 25px;
    }
    
    .btn {
        width: 150px;
        height: 40px;
        line-height: 40px;
    }

    .cv {
        width: 100px;
        height: 40px;
        line-height: 40px;
    }

    .about-photo {
        display: none;
    }
    
    .about {
        height: auto;
    }

    .about-job {
        height: 360px;
        flex-direction: column;
    }

    .about-info p {
        font-size: 20px;
    }

    .about-item .circle {
        width: 90px;
        height: 90px;
    }

    .experience {
        height: 2350px;
    }

    .experience-project {
        margin: 0;
    }

    .experience-production {
        width: 100%;
    }
    
    .container {
        justify-items: center;
    }

    .grid-item {
        width: 80%;
        height: 100px;
    }

    .experience-wrap {
        flex-direction: column;
    }

    .experience-products span {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .experience-item {
        height: 150px;
        width: 250px;
    }

    .experience-production span {
        flex-direction: column;
        align-items: center;
    }


    .skills {
        height: auto;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .price-wrap {
        width: 100%;
    }

    .price-input {
        width: 100%;
    }

    .price-input h2 {
        font-size: 12px;
    }

    .number {
        margin: 0 5px 0 0;
    }

    .footer h2 {
        margin: 0 10px;
        font-size: 15px;
    }

    .footer-wrap {
        width: 65%;
    }
}   

@media screen and (max-width: 375px) {
    .menu-close {
        left: 140px;
    }

    .number {
        width: 55px;
    }

    .price-input span {
        flex-direction: column;
    }

    .price-input h2 {
        margin: 5px 0 0 0;
    }

    .skills-item h2 {
        font-size: 15px;
    }

    .skills-item p {
        font-size: 15px;
    }

    .price {
        height: 380px;
    }

    .footer .icon {
        width: 30px;
        height: 30px; 
    }

    .header {
        font-size: 20px;
    }

    .total-price h2 {
        font-size: 15px;
    }
}